/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define LOWER 1
#define RAISE 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
                &kp GRAVE    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5        &kp N6   &kp N7   &kp N8    &kp N9    &kp N0     &kp ESC
                &lt LOWER TAB  &kp Q    &kp W    &kp E    &kp R    &kp T         &kp Y    &kp U    &kp I     &kp O     &kp P      &kp BSPC
                &kp LCTRL    &kp A    &kp S    &kp D    &kp F    &kp G         &kp H    &kp J    &kp K     &kp L     &kp SEMI   &kp SQT
                &kp LSHFT    &kp Z    &kp X    &kp C    &kp V    &kp B         &kp N    &kp M    &kp COMMA &kp DOT   &kp FSLH   &kp RSHFT
                    &mo LOWER  &mo RAISE  &mt LALT SPACE &mt LGUI SPACE        &lt LOWER RET &lt RAISE BSPC   &kp C_VOL_DN  &kp C_VOL_UP
                                    &trans  &kp C_MUTE  &mo LOWER  &mo LOWER       &kp RET  &mo LOWER  &kp K_MUTE &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
                &trans       &trans    &trans    &trans    &trans    &trans               &trans    &trans    &trans    &trans    &trans    &trans
                &kp GRAVE    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5               &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
                &trans       &trans    &trans    &trans    &trans    &trans               &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
                &trans       &trans    &trans    &trans    &trans    &trans               &trans    &trans    &trans    &trans    &trans    &trans
                                        &trans   &trans    &trans    &trans               &trans    &trans    &trans    &trans
                                        &trans   &trans    &trans    &trans               &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
                &kp TILDE    &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT            &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &none
                &kp TILDE    &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT            &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &none
                &trans       &trans    &trans    &trans    &trans    &trans               &kp UNDER &kp PLUS  &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE &kp GRAVE
                &trans       &trans    &trans    &trans    &trans    &trans               &trans    &trans    &trans    &trans    &trans    &trans
                                        &trans   &trans    &trans    &trans               &trans    &trans    &trans    &trans
                                        &trans   &trans    &trans    &trans               &trans    &trans    &trans    &trans

            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};