/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAV     3
#define CONFIG  4

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "QWERTY";

			bindings = <
                &kp GRAVE   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                     &kp N6   &kp N7   &kp N8    &kp N9  &kp N0   &kp BSLH
                &lt NAV TAB &kp Q    &kp W    &kp E    &kp R    &kp T                      &kp Y    &kp U    &kp I     &kp O   &kp P    &kp ESC
                &kp LCTRL   &kp A    &kp S    &kp D    &kp F    &kp G                      &kp H    &kp J    &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT   &kp Z    &kp X    &kp C    &kp V    &kp B                      &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                    &kp LBKT    &kp RBKT &mt LALT SPACE &mt LGUI SPACE                     &lt LOWER RET &lt RAISE BSPC &mo NAV &kp BSPC
                            &kp BSPC    &kp DEL  &mo LOWER    &mo RAISE                    &mo LOWER  &mo RAISE &kp K_MUTE &kp LCTRL
            >;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		lower_layer {
			display-name = "LOWER";

			bindings = <
                &kp GRAVE    &kp EXCL     &kp AT       &kp HASH     &kp DOLLAR    &kp PRCNT                  &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
                &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans &trans  &trans                &trans     &kp MINUS &kp KP_PLUS &kp LBRC &kp RBRC  &kp PIPE
                &trans            &trans             &trans             &trans &trans  &trans                &trans     &trans    &trans      &trans   &trans    &trans
                &bootloader       &trans             &trans             &trans &trans   &trans               &trans     &trans    &trans      &trans   &trans    &bootloader
                                                    &trans             &trans &trans   &trans               &trans     &trans    &trans      &trans
                                                    &trans             &trans       &trans &trans      &trans &trans    &trans  &trans
			>;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

		raise_layer {
			display-name = "RAISE";

			bindings = <
                &trans    &trans    &trans   &trans    &trans    &trans                   &trans    &trans    &trans    &trans    &trans    &trans
                &kp TILDE &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR   &kp RPAR &none
                &trans    &trans    &trans   &trans    &trans    &trans                   &kp UNDER &kp PLUS  &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE &kp GRAVE
                &trans    &trans    &trans   &trans    &trans    &trans                   &trans    &trans    &trans    &trans    &trans    &trans
                                      &trans &trans     &trans   &trans                   &trans    &trans    &trans    &trans
                                      &trans &trans     &trans   &trans                   &trans    &trans    &trans    &trans
			>;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

        navigation_layer {
			display-name = "NAV";

			bindings = <
                &trans    &trans    &trans   &trans    &trans    &trans                   &trans    &trans    &trans    &trans    &trans    &trans
                &kp TILDE &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR   &kp RPAR &none
                &trans    &trans    &trans   &trans    &trans    &trans                   &kp UNDER &kp PLUS  &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE &kp GRAVE
                &trans    &trans    &trans   &trans    &trans    &trans                   &trans    &trans    &trans    &trans    &trans    &trans
                                      &trans &trans     &trans   &trans                   &trans    &trans    &trans    &trans
                                      &trans &trans     &trans   &trans                   &trans    &trans    &trans    &trans
			>;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};

        configuration_layer {
			display-name = "CONF";

			bindings = <
                &trans    &trans    &trans   &trans    &trans    &trans                   &trans    &trans    &trans    &trans    &trans    &trans
                &kp TILDE &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT                &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR   &kp RPAR &none
                &trans    &trans    &trans   &trans    &trans    &trans                   &kp UNDER &kp PLUS  &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE &kp GRAVE
                &trans    &trans    &trans   &trans    &trans    &trans                   &trans    &trans    &trans    &trans    &trans    &trans
                                      &trans &trans     &trans   &trans                   &trans    &trans    &trans    &trans
                                      &trans &trans     &trans   &trans                   &trans    &trans    &trans    &trans
			>;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
		};
	};
};